@import url(style.css);

/* Estilos para el formulario */
#form-wrapper {
    max-width: 400px; /* Ancho máximo del contenedor del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor del formulario */
    border: 1px solid #ccc; /* Borde alrededor del formulario */
    border-radius: 5px; /* Bordes redondeados */
}

h2 {
    text-align: center;
    color: var( --primary-color)

}

/* Estilos para cuando haya un error en el form */
.error{
    color: var(--primary-color);    
}

/* Estilos para los elementos del formulario */
.form-control {
    margin-bottom: 20px; /* Espacio entre cada campo de formulario */
}

label {
    display: block; /* Mostrar las etiquetas en una línea separada */
    font-weight: bold; /* Texto en negrita */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 10px; /* Espaciado interno del campo de entrada */
    border: 1px solid #ccc; /* Borde alrededor del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
}

.form-select {
    width: 100%; /* Ancho completo del campo select */
    padding: 10px; /* Espaciado interno del campo select */
    border: 1px solid #ccc; /* Borde alrededor del campo select */
    border-radius: 5px; /* Bordes redondeados */
}

button[type="submit"] {
    width: 100%; /* Ancho completo del botón */
    padding: 10px; /* Espaciado interno del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

/* Términos y condiciones */
.form-terms {
    color: var(--primary-color);
    padding-bottom: 10px;
}

.form-terms input{
    margin-right: 5px;
}

/* Estilos para el enlace de ayuda */
.form-help {
    margin-top: 20px; /* Espacio superior para el enlace de ayuda */
}

.form-help a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.form-help a:hover {
    text-decoration: underline; /* Subrayar al pasar sobre el enlace */
}

/* Media queries para dispositivos de pantalla pequeña */
@media only screen and (max-width: 600px) {
    #form-wrapper {
        max-width: 100%; /* Ancho máximo del contenedor del formulario */
    }
}
