:root {
    --bg-color: #181419;
    --primary-color: #9f3647;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #b50de42c;

}

/* Estilos base para todos los dispositivos */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--bg-input-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* Centrar el contenido */
    padding: 20px;
}

#logo{
    font-weight: bold;
}

/* Estilos para dispositivos móviles (por ejemplo, smartphones) */
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 90%;
    }
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 992px) {
    .container {
        width: 80%;
    }
}

    /* Maquetacion */
    .container {
        display: grid;
        grid-template-rows: 100px auto 100px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            "header header header header"
            "main   main    main   main "
            "footer footer footer footer";
    }

    .container > header {
        grid-area: header;
        background-color: red;
        display: flex;
        justify-content: center; /* Centramos horizontalmente */
        align-items: center; /* Centramos verticalmente */
    }

    .container > main {
        grid-area: main;
        background-color: aqua;
    }
    .container > footer {
        grid-area: footer;
        background-color: blueviolet;
        
    }

    /* Navbar */


    
    #menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
    #logo {
        margin-right: 200px;
        display: flex;
        align-items: center;
    }
    
    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    .navbar ul li {
        margin-right: 20px;
    }
    
    .navbar ul li:last-child {
        margin-right: 0;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: black;
    }

    /* card */

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Para que las tarjetas se distribuyan uniformemente en la fila */
    }

    .card {
        display: flex;
        justify-content: center;
         width: calc(26.66%);
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        margin: 20px;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
    
    .details {
        padding: 20px;
    }
    
    .product-name {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .price {
        color: green;
        margin-bottom: 10px;
    }
    
    .description {
        margin-bottom: 10px;
    }
    
    .category {
        font-style: italic;
    }
    
    