:root {
    --bg-color: #181419;
    --primary-color: #9f3647;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #b50de42c;

}

/* Estilos base para todos los dispositivos */
body {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--bg-input-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

main{
    margin-top: 50px; /* Espacio entre el encabezado y el formulario */
    flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
    
}

h1{
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    /* Centrar el contenido */
    padding: 20px;
}

#logo{
    font-weight: bold;
}



    /* Maquetacion */
    .container {
        display: grid;
        grid-template-rows: 150px auto 100px;
        grid-template-columns: 1fr 3% 1fr;
        grid-template-areas:
            "header header header header"
            "main   main    main   main "
            "footer footer footer footer";
    }

    .container > header {
        grid-area: header;
        background-image: url(../img/LogoBifrostDobleCortadoMitad.jpg);
        background-repeat: no-repeat;
        background-size: contain ;
        display: flex;
        justify-content: center; /* Centramos horizontalmente */
        align-items: end; /* Centramos verticalmente */
    }

    .container > main {
        grid-area: main;
    }
    .container > footer  {
        grid-area: footer;
        background-color: rgb(72, 5, 134);
        
        
    }

    /* Navbar */


    
    #menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
        
    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    .navbar ul li {
        margin-right: 20px;
    }
    
    .navbar ul li:last-child {
        margin-right: 0;
    }
    
    .navbar ul li a {
        font-size: rem;
        font-weight: bold;
        text-decoration: none;
        color: rgb(255, 255, 255);
        
    }
    .navbar :hover{
        color: #2cc9e5;

    }
     /* footer */
     
     footer {
        background-image: url(../img/fondoFooter.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        margin-top: auto;
        bottom: 0; /* Lo sitúa en la parte inferior */
        left: 0; /* Alinea a la izquierda */
        width: 100%; /* Asegura que ocupe todo el ancho */
        background-color: #333; /* Color de fondo del pie de página */
        color: #fff; /* Color del texto del pie de página */
        padding: 20px; /* Espacio interno del pie de página */
      }

      footer > .logo {
        height: 100px;
        width: 100px;
      }

    .iconos   {
        color: #ddd;
    }

    /* card */

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Para que las tarjetas se distribuyan uniformemente en la fila */
    }

    .card {
        display: flex;
        justify-content: center;
         width: calc(26.66%);
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        margin: 20px;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
    
    .details {
        padding: 20px;
    }
    
    .product-name {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .price {
        color: green;
        margin-bottom: 10px;
    }
    
    .description {
        margin-bottom: 10px;
    }
    
    .category {
        font-style: italic;
    }
    
    .card-video {
        width: 80%;
        display: flex;
        flex-direction: wrap;
        margin: 0 auto; /* Centra la tarjeta de video */
        color: white;
    }


    .video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

  /* Estilos generales del formulario */
  #formLogin {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Estilos de los campos de entrada y etiquetas */
  .form-control {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }

  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #66afe9;
  }

  /* Estilos de los mensajes de error */
  .error {
    color: #ff0000;
    font-size: 14px;
  }

  /* Estilos del botón */
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }



  .separator {
    width: 100%;
    margin-top: 50px; /* Espacio entre secciones */
  }
  
  .separator svg {
    display: block;
  }
  






    
    