<!-------- HEADER -------->

<header id="id_header">
    <a href="/index.html" class="logo">
        <img src="../static/img/LogoBifrostHeader1.jpg" alt="logo">
    </a>
    <ul class="navlist">
        <li class="nav-link"><a href="/cacBifrost3d/index.html">Inicio</a></li>
        <li class="nav-link"><a href="../pages/productos.html">Productos</a></li>
        <li class="nav-link"><a href="../pages/registro.html">Registro</a></li>
    </ul>
    <div class="bx bx-menu" id="menu-icon"></div>
    <a href="../pages/login.html" class="nav-btn">Sign In</a>
</header>