<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
  {% include 'header.html' %}
  <main>
    <h1>Productos</h1>

    <div class="container">

      <div id="cards-container" class="cards-container">


      </div>
    </div>

  </main>
  {% include 'footer.html' %}


  <script type="module" src="../js/data.js"></script>
  <script type="module" src="../js/utils/cards.js"></script>
  <script type="module" src="../js/utils.js"></script>
  <script type="module" src="../js/main.js"></script>
</body>

</html>