<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

  {% include 'header.html' %}
  <main class="grid-container ">
    <!-- Formulario -->

    <div class="register-box">
      <h2>Registro</h2>
      <form action="/registrado" method="POST" id="formRegister" enctype="multipart/form-data">
        <!-- <input hidden type="text" name="user_id"> -->
        <!-- Nombre -->
        <div class="user-box">
          <label for="firstname">Nombre</label>
          <input type="text" name="firstname" id="firstname" required />
          <div class="error" id="error-firstname"></div>
        </div>

        <!-- Apellido -->
        <div class="user-box">
          <label for="lastname">Apellido</label>
          <input type="text" name="lastname" id="lastname" required />
          <div class="error" id="error-lastname"></div>
        </div>

        <!-- Mail -->
        <div class="user-box">
          <label for="email">Mail</label>
          <input type="email" name="email" id="email" required />
          <div class="error" id="error-email"></div>
        </div>
        <!-- Imagen -->
        <div class="user-box">
          <label for="image">Imagen</label>
          <input type="file" name="profile_image" id="image" required />
          <div class="error" id="error-image"></div>
        </div>

        <!-- Contraseña -->
        <div class="user-box">
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password" required />
          <div class="error" id="error-password"></div>
        </div>

        <!-- Repetir Contraseña -->
        <div class="user-box">
          <label for="password2">Repetir contraseña</label>
          <input type="password" name="password2" id="password2" required />
          <div class="error" id="error-password2"></div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="user-box">
          <label for="birthdate">Fecha de Nacimiento</label>
          <input type="date" name="birthdate" id="birthdate" required />
          <div class="error" id="error-birthdate"></div>
        </div>


        <!-- País -->
        <div class="user-box">
          <select name="country" id="country" class="form-select" required>
            <option value="">País</option>
            <option value="AR">Argentina</option>
            <option value="BO">Bolivia</option>
            <option value="BR">Brasil</option>
            <option value="CH">Chile</option>
            <option value="CO">Colombia</option>
          </select>
        </div>

        <!-- Términos y condiciones -->
        <div class="user-box">
          <div class="user-box terms">
            <input type="checkbox" name="accepted_terms" id="accepted_terms" value="yes" required />
            <span for="">Acepto términos y condiciones.</span>
          </div>
          <div class="error" id="error-terms"></div>
        </div>

        <!-- Botón de registro -->
        <button type="submit">Registrarse</button>

        <!-- Link de Ayuda -->
        <div class="user-box">
          <a href="#">Necesitás ayuda?</a>
        </div>
      </form>
    </div>
  </main>
  {% include 'footer.html' %}
  </footer>
  </div>

  <script type="module" src="../js/utils.js"></script>
  <script type="module" src="../js/main.js"></script>
  <script type="module" src="../js/utils/validaciones.js"></script>

</body>

</html>